[submodule "themes/photophobia"]
	path = themes/photophobia
	url = https://github.com/setsevireon/photophobia.git
[submodule "themes/anubis"]
	path = themes/anubis
	url = https://github.com/mitrichius/hugo-theme-anubis.git
